.TodoList {
  $this: &;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &_Item {
    width: auto;
    width: 20%;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.623);
    color: white;
    padding: 5px 0 5px 10px;
  }
}
