$border-rad: 8px;
$text-primary-color: white;

.TodoList {
	$this: &;
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	&_Item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: auto;
		width: 20%;
		height: 30px;
		border-radius: $border-rad;
		background-color: rgba(128, 128, 128, 0.623);
		color: $text-primary-color;
		padding: 5px 15px 5px 10px;
	}
}

.TodoForm {
	width: 100%;
	margin: 20px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	input {
		width: 20%;
		height: 40px;
		border: solid 2px;
		border-radius: $border-rad;
		padding: 5px 0 5px 10px;
	}

	button {
		width: 20%;
		height: 40px;
		background-color: rgb(103, 103, 213);
		border: none;
		color: $text-primary-color;
		cursor: pointer;
		border-radius: $border_rad;
	}
}
