.Todo {
	$this: &;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 60%;
	background-color: rgb(201, 219, 213);

	&_list {
		width: 50%;
		height: 100%;
		background-color: rgb(198, 173, 221);
		overflow-y: scroll;

		ul {
			list-style: none;
		}
	}

	&_form {
		$this: &;
		width: 50%;
		height: 100%;
		background-color: rgb(216, 170, 203);

		&_inner {
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			background-color: rgb(190, 158, 115);
		}
	}
}
